<p id="notice"><%= notice %></p>

<h1>All Products</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag "products/#{product.image_url}" %></td>
        <td><span class="product_title"><%= product.title %></span><%= product.description %></td>
        <td><%= product.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p><%= link_to 'Create a New Product', new_product_path, id: 'new_product' %></p>
